<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarttraining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartTraining">

        <!-- Basketball -->
        <activity
            android:name=".Controllers.Activities.BasketBall.BasketBallConfig"
            android:exported="false"
            android:label="Configuration Basket-ball"
            android:parentActivityName=".Controllers.Activities.MainActivity" />

        <!-- Futsal -->
        <activity
            android:name=".Controllers.Activities.Futsal.FutsalConfig"
            android:exported="false"
            android:label="Configuration Futsal"
            android:parentActivityName=".Controllers.Activities.MainActivity" />

        <!-- Badminton -->
        <activity
            android:name=".Controllers.Activities.Badminton.BadmintonMatch"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.Badminton.BadmintonConfig"
            android:exported="false"
            android:label="Configuration Badminton"
            android:parentActivityName=".Controllers.Activities.MainActivity" />

        <!-- Tennis -->
        <activity
            android:name=".Controllers.Activities.Tennis.TennisConfig"
            android:exported="false"
            android:label="Configuration Tennis"
            android:parentActivityName=".Controllers.Activities.MainActivity" />



        <activity
            android:name=".Controllers.Activities.HistoryActivity"
            android:label="@string/history_title" />
        <activity
            android:name=".Controllers.Activities.MainActivity"
            android:label="@string/arbitration_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>